section.section-epiphytes.py-8
  +container().text-left(class="md:text-center")
    +pageHeader('What are Epiphytes?').my-12
  +container().my-4
    .flex.flex-wrap.items-center
      .mb-4.px-4(class="md:w-1/2 md:-mx-2")
        h2.text-2xl.font-light.leading-tight(
          class="md:text-3xl"
        )= intro.heading
        .leading-normal
          each p in intro.paragraphs
            p.my-4= p
      .mb-4.px-4(class="md:w-1/2 md:-mx-2")
        img.max-w-full(
          src="/img/habitat.jpg"
          alt="Air plant in natural habitat"
        )
