.hero.bg-black.text-white.text-center(
  style="background: transparent url(/img/cover/bg-header-2.jpg) no-repeat center center; background-size: cover;"
)
  +container()
    .max-w-md.mx-auto.py-4
      include /_logo
      .py-8
        h1.font-black.my-8.leading-tight.text-2xl(
          class="md:text-5xl"
        )= hero.heading
        p.my-4.leading-tight.text-lg.font-semibold(
          class="md:text-xl"
        )= hero.lead
        .my-12
          a.btn.btn-primary.btn-lg(href="/tillandsias/") Shop Air Plants
