mixin container()
  .container.mx-auto.px-4&attributes(attributes)
    block

mixin divider(marginY='my-16')
  hr.max-w-lg.mx-auto.border-t.border-grey-darkest&attributes(attributes)(class=marginY)

mixin pageTitle(title='')
  h1.leading-tight.font-black.text-4xl&attributes(attributes)= title

mixin lead(text='')
  .text-xl.font-light&attributes(attributes)
    if text
      | #{ text }
    else
      block

mixin pageHeader(title='', text='')
  +container().my-4&attributes(attributes)
    if title
      +pageTitle(title)
    if text
      +lead(text)
    block
