//- TODO active nav class
nav.navbar
  +container()
    .flex.flex-wrap
      each item in navigation
        - var isActive = false
        a.nav-item.w-full(
          class=`md:w-auto ${isActive ? 'is-active' : ''}`
          href=item.uri
        )= item.label
