nav.navbar
  +container()
    .flex.flex-wrap
      each item in navigation
        a.nav-item.w-full(
          class="md:w-auto"
          class=(item.uri === page.url ? 'is-active' : '')
          href=item.uri
        )= item.label
