extends /layouts/html

block styles
  link(
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Niramit:300,400,600,700"
  )
  link(rel="stylesheet" href="/styles.css")

block scripts
  script(
    async
    defer
    src="https://cdn.foxycart.com/appalachiantropicals/loader.js"
  )

block body
  block header
    include /layouts/_header
  block navbar
    include /layouts/_navbar
  main
    block main
      | !{ content }
  block footer
    include /layouts/_footer
