extends /layouts/html

//- block styles
//- block scripts

block body
  block navbar
    include /layouts/_navbar
  main
    block main
      | !{ content }
  block footer
    include /layouts/_footer
