---
title: Tillandsia Air Plants
description: Hanging Air Plants
layout: /layouts/main.pug
---
include /_mixins

+container()
  +pageHeader(title, description)

div: code products-grid
div: code footer
